# macOS system files
.DS_Store

# temporary files
temp/
tmp/

# Build results
dist/

# Node modules
node_modules/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# VitePress build output
docs/.vitepress/dist
docs/.vitepress/cache

# VitePress root cache
/.vitepress/

# Python bytecode
__pycache__/
*.pyc

# Report output
report/

# .NET build output
[Bb]in/
[Oo]bj/